.container{
    display: flex;
    justify-content: space-between;
}

#cuadradoazul{
    background-color: blue;
    width: 100px;
    height: 100px;
}

#cuadradoamarillo{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#cuadradorojo{
    background-color: red;
    width: 100px;
    height: 100px;
}